@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-SemiBold.ttf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-SemiBold.ttf") format("opentype");
  font-weight: bolder;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf") format("opentype");
}

html {
  font-family: 'Raleway' !important;  
}

p {
  font-size: 1.18rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-bottom: 5vh;
}

.line {
    fill: none;
    stroke-width: 3;
}

text > a {
  fill: #039be5;
}

.navbar-fixed > nav {
  left: 0 !important;
  height: 200px !important;
}

.chapter {
  padding-top: 200px;
}

.navbar-fixed {
  height: 200px !important;
}

.fixed-top {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.share-button {
  margin:  0% 1%;
}

.right-chart {
  padding-left: 10px;
}

.sources {
  font-size: 12px;
  fill: grey;
  color: grey;
}

.no-margin {
  margin-bottom: 0px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
}

text {
  font-family: 'Raleway' !important;
  color: #757575;
}

.page-footer {
  padding-top: 0;
}

.material-tooltip {
  max-width: 35%;
}
