@font-face {
    font-family: "Archia";
    src: url("./Archia-Light.otf") format("opentype");
}

html {
  font-family: Archia !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-bottom: 5vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
}

text {
  font-family: Archia !important;
  color: #757575;
}

.page-footer {
  padding-top: 0;
}

.material-tooltip {
  max-width: 35%;
}
